<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url "home" %}">Пицца</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
      <div class="basket-container">
        <a class="navbar-brand" href="{% url "cart:cart_detail" %}">Корзина</a>
     </div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <div class="btn-group" role="group">
       {% if user.is_authenticated %}
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ user.username }}
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="{% url "accounts:account" user.id  %}">История заказов</a>
      <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
    </div>
       {% else %}
       <a class="nav-item nav-link" href="{% url 'login' %}">Войти</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
              {% endif %}
  </div>
</div>
</div>
</nav>